extends index
block content
  form(action="/create-room", method="POST", class="form-horizontal")
    .col-md-5
      input(type="text", class="form-control", name="room-name", placeholder="Room name" required)
      br
      input(type="password", class="form-control", name="password", placeholder="Room password" required)
      br
      input(type="submit", class="btn btn-primary submitBtn", value="Create Room")
      input(type="submit", class="btn btn-primary submitBtn", value="Join Room")
