doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title tafl
    link(type="text/css", rel="stylesheet", href="/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", href="/main.css")
    script(src="/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

  body
    #container
      .container-fluid
        .col-md-3
        .col-md-7
          .col-md-2
            h1(class="title") tAfl
          block content

        .col-md-2
          if message
            .alert.alert-dismissible.alert-danger
              button(type="button" class="close" data-dismiss="alert") x
              strong #{message}
