extends roomIndex
block content
  .col-md-3
    .panel.panel-primary
      .panel-heading
        h3.panel-title Status
      .panel-body
       | Test
  .col-md-6
    canvas(id="canvas")
  .col-md-3
    h1 rest of it
    #taunts
