extends roomIndex
block content
  .row
    .col-md-3
      .row
        .panel.panel-primary
          .panel-body(id="status")
          br
      .row      
        .panel.panel-primary
          .panel-heading Moves
          .panel-body(id="moves")
          
    .col-md-6
      canvas(id="canvas")
    .col-md-3
      h1 rest of it
      #taunts
