canvas{
	border:2px solid black;
	display: block;
	margin:  auto;
	height:100%;
	text-align: center;
}
html,body{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
#status{
	position: absolute;
	top: 0px;
}
.title{
	color:#990000;
}

#container{
	margin-top: 100px;
}

.confirm{
	margin-top: 40px;
}
